@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*:focus{
    box-shadow: none !important;
}
// navbar
.navbar {
    transition: all linear .3s;
    .dark-logo{
        display: none;
        height: 35px;
    }
    .white-logo{
        height: 45px;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: white;
                font-weight: 500;
                padding: 0 20px;
                transition: all linear .2s;

                &:hover {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';
                        width: 7px;
                        height: 7px;
                        bottom: -10px;
                        right: 50%;
                        left: 50%;
                        border-radius: 50px;
                        border: 2px solid white;
                    }
                }
            }
        }
    }

    &.sticky {
        background-color: white;
        padding: 15px 0;
        box-shadow: 0px 0px 20px #bbb;

        .nav-link {
            color: black !important;

            &.active {
                &::after {
                    border: 2px solid black !important;
                }
            }

            &:hover {
                &::after {
                    border: 2px solid black !important;
                }
            }
        }
    }
}

// Section title
.section-title {
    font-size: 29px;
    letter-spacing: 0;
    color: #222222;
    line-height: 30px;
    margin-bottom: 50px;
    padding-bottom: 16px;
    font-family: 'Russo One', sans-serif;
    border-bottom: 1px solid #222222;
    display: inline-block;
    padding: 0 100px 10px 10px;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 70px;
        height: 5px;
        background-color: #222222;
        left: 0;
        bottom: -3px;
    }
}

// Cover Section
.cover-area {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding: 0 20px;

    .heading-title {
        font-size: 72px;
        font-weight: normal;
        animation: type 3s steps(16);
        overflow: hidden;
        white-space: nowrap;
        border-right:  4px solid white;
        padding-right: 20px;
        display: inline-block;
        @media (max-width: 600px) {
            font-size: 33px;
        }
        @keyframes type {
            0%{
                width: 0ch;
            }
            100%{
                width: 16ch;
            }
        }
    }
    p{
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

// About Section
.about {
    padding: 100px 0;

    .thumb {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            right: -45px;
            bottom: -45px;
            border: 2px solid #f3f2f2;
            height: 100%;
            width: 100%;
            z-index: -1;
            border-radius: 0px 0px 30px 0px;

            @media (max-width: 600px) {
                display: none;
            }
        }
    }

    p {
        line-height: 40px;
        color: gray;
    }

    
}
// social-link
.social-link {
    p {
        display: inline-block;
        margin-right: 10px;
    }

    a {
        display: inline-block;
        font-size: 15px;
        color: #333333;
        margin-right: 11px;
        transition: all linear .1s;

        &:hover {
            color: gray;
        }
    }
}

// services Section
.services {
    padding: 100px 0;
    background-color: #F9F9F9;

    .services-item {
        display: flex;

        .icon {
            margin-right: 20px;
            z-index: 9;
            svg{
                width: 45px;
            }
        }

        .content {
            .content-title {
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
                color: #222222;
                margin-bottom: 15px;
                margin-top: 12px;
            }

            .content-body {
                font-weight: normal;
                letter-spacing: 0;
                line-height: 28px;
                margin: 0;
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    background-color: #bbb;
                    width: 2px;
                    height: 100%;
                    left: -40px;
                    bottom: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    background-color: #bbb;
                    width: 10px;
                    height: 10px;
                    left: -44px;
                    bottom: 0;
                    border-radius: 50%;
                }
            }
        }
        &:hover p{
            &::after {
                top: 0;
            }
        }
    }
}
// skills
.skills{
    padding: 100px 0;
    .progress{
        height: 10px;
        .progress-bar{
            background-color: black;
        }
    }
}
// portfolio
.portfolio{
    padding: 100px 0;
    background-color: #F9F9F9;
    .nav-tabs{
        border: none;
        .nav-link{
            background-color: transparent;
            border: none;
            color: black;
            &.active{
                position: relative;
                    &::after {
                        position: absolute;
                        content: '';
                        width: 7px;
                        height: 7px;
                        bottom: 0;
                        right: 40%;
                        border-radius: 50px;
                        border: 2px solid black;
                    }
            }
        }
    }
    .tab-content{
        margin-top: 30px;
        a{
            transition: ease .3s;
            img{
                width: 100%;
                height: 250px;
                object-fit: cover;
                border-radius: 3px;
            }
            &:hover{
                opacity: .6;
            }
        }
    }
}


// contact
.contact{
    padding: 100px 0;
    .form-control{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #ced4da;
    }
    button{
        i{
            transition: ease .3s;
            margin-right: 5px;
        }
        &:hover i{
            margin-left: 5px;
            margin-right: 0;
        }
        
    }
}
footer{
    box-shadow: 0px 0px 20px #bbb;
    .logo{
        height: 35px;
    }
}